main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_Container{
    display: flex;
    align-items: center;
}

.versus{
    padding: 0px 30px;
}

.game_Controls{
    display: flex;
    margin: 30px 0px;    
}

.game_Controls>:first-child{
    margin-right: 30px;
}

.game_Boards{
    display: flex;
    margin: 30px 0px;    
}

.player1_Board,
.player2_Board{
    display: grid;
    grid-template-rows: 50px 300px 30px ;
    grid-template-columns: 30px 308px;
}

.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

.log>:first-child{
    margin-bottom: 30px;
}
.log>input{
    width: 500px;
    height: 150px;
}