<div class="ships_Title">Place your ships</div>
<div class="ships_Description">Place you Carrier - 5 squares</div>
<div class="ships_Controls">
    <input type="radio" name="orientation" id="ships_Hor" checked>
    <label for="ships_Hor">Horizontal</label>
    <input type="radio" name="orientation" id="ships_Ver">
    <label for="ships_Ver">Vertical</label>
</div>
<div class="game_Boards"></div>
<div class="ships_Submit">
    <button id="ships_Cancel">Cancel</button>
    <button id="ships_Reset">Reset</button>
    <button id="ships_Confirm" disabled>Confirm</button>
</div>