.placeShip_Modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.placeShip_Board {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 5% auto;
  padding: 10px;
  border: solid black 1px;
  border-radius: 15px;
}

.ships_Title {
  font-size: 1.8rem;
  font-weight: 700;
}

.ships_Controls {
  display: flex;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.ships_Controls > input {
    margin-right: 5px;
    width: 30px;
  }

.ships_Controls > :nth-child(2) {
  margin-right: 30px;
}

.ships_Description {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  animation: twinkle 1s alternate infinite;
}
@keyframes twinkle {
  from {
    color: black;
    background-color: white;
  }
  to {
    color: white;
    background-color: black;
  }
}

.ships_Submit {
  display: flex;
  margin: 20px 0px;
}

.ships_Submit > :first-child {
  margin-right: 30px;
}

.marked{
    background-color: aquamarine;
}

.placed{
    background-color: rgb(92, 92, 92);
}

.forbidden{
    background-color: rgb(152, 92, 92);
}