header {
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border: solid black 0px;
  border-bottom-width: 1px;
  width: 700px;
  font-size: 2rem;
}
